
.DS_Store
.ipynb_checkpoints/Notebook_PredictFutureSales-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
competitive-data-science-predict-future-sales.zip
competitive-data-science-predict-future-sales/item_categories.csv
competitive-data-science-predict-future-sales/items.csv
competitive-data-science-predict-future-sales/sales_train.csv
competitive-data-science-predict-future-sales/sample_submission.csv
competitive-data-science-predict-future-sales/shops.csv
competitive-data-science-predict-future-sales/test.csv
logs.log
Untitled.ipynb
